@import "tailwindcss";

* {
    overflow: hidden !important;
}

html {
    overflow-y: scroll !important;
}

@media (max-width: 768px) {
    html {
        cursor: auto !important;
    }

    #container>div:nth-child(1) {
        display: none !important;
    }
}