@import "tailwindcss";

@font-face {
    font-family: 'Playwrite';
    font-style: normal;
    font-weight: 100 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/playwriteusmodern/v11/H4c7BWmRlMXPhla3hmMaveiYz8nSDkIFNtw.woff2) format('woff2');
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: "Playwrite";
    background-color: #121212;
    color: #fff;
    transition: background-color 0.5s ease-in-out;
    overflow-x: hidden;
}

button,
a {
    cursor: pointer;
}

html:has(.bg-\[\#151515\]:hover) .bg-\[\#151515\]:not(:hover) {
    filter: brightness(0.4);
}

html:has(.bg-\[\#151515\]:hover) body {
    background-color: #060606 !important;
}

.bg-\[\#151515\]:hover {
    border: #222222;
}

.bg-\[\#151515\] {
    transition: filter 0.3s ease-in-out, border-color 0.3s ease-in-out;
}